/*

.chat_bot{
    float: right;
    position: fixed;
}
.chat{
    float: left ;
    height: 400px;
    width: 00px;
    border: 1px green solid;
    background-color: greenyellow;
    position: fixed;
}

*/